In [1]:
import requests
import json 
import pandas as pd

In [2]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2010&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2010_json = json.loads(response.text)
equinox2010_df = pd.json_normalize(equinox2010_json)

equinox2010_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,sport utility vehicle,26,4,2.4,fwd,gas,32,chevrolet,equinox fwd,a,2010
1,20,sport utility vehicle,23,4,2.4,awd,gas,29,chevrolet,equinox awd,a,2010
2,17,sport utility vehicle,20,6,3.0,fwd,gas,25,chevrolet,equinox fwd,a,2010
3,17,sport utility vehicle,20,6,3.0,awd,gas,24,chevrolet,equinox awd,a,2010

In [3]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2011&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2011_json = json.loads(response.text)
equinox2011_df = pd.json_normalize(equinox2011_json)

equinox2011_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2011
1,20,sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2011
2,16,sport utility vehicle,19,6,3.0,fwd,gas,23,chevrolet,equinox fwd,a,2011
3,17,sport utility vehicle,20,6,3.0,fwd,gas,24,chevrolet,equinox fwd,a,2011
4,16,sport utility vehicle,19,6,3.0,awd,gas,23,chevrolet,equinox awd,a,2011
5,16,sport utility vehicle,19,6,3.0,awd,gas,23,chevrolet,equinox awd,a,2011

In [4]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2012&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2012_json = json.loads(response.text)
equinox2012_df = pd.json_normalize(equinox2012_json)

equinox2012_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,sport utility vehicle,20,6,3.0,fwd,gas,24,chevrolet,equinox fwd,a,2012
1,22,sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2012
2,17,sport utility vehicle,20,6,3.0,fwd,gas,24,chevrolet,equinox fwd,a,2012
3,20,sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2012
4,16,sport utility vehicle,19,6,3.0,awd,gas,23,chevrolet,equinox awd,a,2012
5,16,sport utility vehicle,19,6,3.0,awd,gas,23,chevrolet,equinox awd,a,2012
6,22,sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2012
7,20,sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2012

In [5]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2013&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2013_json = json.loads(response.text)
equinox2013_df = pd.json_normalize(equinox2013_json)

equinox2013_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2013
1,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2013
2,17,small sport utility vehicle,20,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2013
3,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2013
4,17,small sport utility vehicle,20,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2013
5,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2013
6,16,small sport utility vehicle,19,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2013
7,16,small sport utility vehicle,19,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2013

In [7]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2014&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2014_json = json.loads(response.text)
equinox2014_df = pd.json_normalize(equinox2014_json)

equinox2014_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,small sport utility vehicle,19,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2014
1,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2014
2,17,small sport utility vehicle,20,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2014
3,16,small sport utility vehicle,19,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2014
4,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2014
5,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2014
6,16,small sport utility vehicle,19,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2014
7,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2014

In [8]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2015&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2015_json = json.loads(response.text)
equinox2015_df = pd.json_normalize(equinox2015_json)

equinox2015_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2015
1,17,small sport utility vehicle,19,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2015
2,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2015
3,16,small sport utility vehicle,19,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2015
4,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2015
5,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2015

In [9]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2016&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2016_json = json.loads(response.text)
equinox2016_df = pd.json_normalize(equinox2016_json)

equinox2016_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2016
1,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2016
2,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2016
3,22,small sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2016
4,16,small sport utility vehicle,18,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2016
5,17,small sport utility vehicle,20,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2016

In [10]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2017&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2017_json = json.loads(response.text)
equinox2017_df = pd.json_normalize(equinox2017_json)

equinox2017_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2017
1,21,small sport utility vehicle,25,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2017
2,17,small sport utility vehicle,20,6,3.6,fwd,gas,24,chevrolet,equinox fwd,a,2017
3,21,small sport utility vehicle,25,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2017
4,16,small sport utility vehicle,18,6,3.6,awd,gas,23,chevrolet,equinox awd,a,2017
5,20,small sport utility vehicle,23,4,2.4,awd,gas,28,chevrolet,equinox awd,a,2017

In [11]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2018&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2018_json = json.loads(response.text)
equinox2018_df = pd.json_normalize(equinox2018_json)

equinox2018_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,26,small sport utility vehicle,28,4,1.5,fwd,gas,32,chevrolet,equinox fwd,a,2018
1,24,small sport utility vehicle,26,4,1.5,awd,gas,30,chevrolet,equinox awd,a,2018
2,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,chevrolet,equinox fwd,a,2018
3,22,small sport utility vehicle,24,4,2.0,awd,gas,28,chevrolet,equinox awd,a,2018
4,28,small sport utility vehicle,32,4,1.6,fwd,diesel,39,chevrolet,equinox fwd,a,2018
5,28,small sport utility vehicle,32,4,1.6,awd,diesel,38,chevrolet,equinox awd,a,2018

In [12]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2019&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2019_json = json.loads(response.text)
equinox2019_df = pd.json_normalize(equinox2019_json)

equinox2019_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,chevrolet,equinox fwd,a,2019
1,26,small sport utility vehicle,28,4,1.5,fwd,gas,32,chevrolet,equinox fwd,a,2019
2,25,small sport utility vehicle,27,4,1.5,awd,gas,30,chevrolet,equinox awd,a,2019
3,22,small sport utility vehicle,24,4,2.0,awd,gas,28,chevrolet,equinox awd,a,2019
4,28,small sport utility vehicle,32,4,1.6,awd,diesel,38,chevrolet,equinox awd,a,2019
5,28,small sport utility vehicle,32,4,1.6,fwd,diesel,39,chevrolet,equinox fwd,a,2019

In [13]:
model = 'equinox'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2020&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

equinox2020_json = json.loads(response.text)
equinox2020_df = pd.json_normalize(equinox2020_json)

equinox2020_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,26,small sport utility vehicle,28,4,1.5,fwd,gas,31,chevrolet,equinox fwd,a,2020
1,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,chevrolet,equinox fwd,a,2020
2,25,small sport utility vehicle,27,4,1.5,awd,gas,30,chevrolet,equinox awd,a,2020
3,22,small sport utility vehicle,24,4,2.0,awd,gas,28,chevrolet,equinox awd,a,2020

In [14]:
equinox_df = pd.concat([equinox2010_df, equinox2011_df, equinox2012_df, equinox2013_df, 
                        equinox2014_df, equinox2015_df, equinox2016_df, equinox2017_df, equinox2018_df, 
                        equinox2019_df, equinox2020_df])
equinox_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,sport utility vehicle,26,4,2.4,fwd,gas,32,chevrolet,equinox fwd,a,2010
1,20,sport utility vehicle,23,4,2.4,awd,gas,29,chevrolet,equinox awd,a,2010
2,17,sport utility vehicle,20,6,3.0,fwd,gas,25,chevrolet,equinox fwd,a,2010
3,17,sport utility vehicle,20,6,3.0,awd,gas,24,chevrolet,equinox awd,a,2010
0,22,sport utility vehicle,26,4,2.4,fwd,gas,31,chevrolet,equinox fwd,a,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
5,28,small sport utility vehicle,32,4,1.6,fwd,diesel,39,chevrolet,equinox fwd,a,2019
0,26,small sport utility vehicle,28,4,1.5,fwd,gas,31,chevrolet,equinox fwd,a,2020
1,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,chevrolet,equinox fwd,a,2020
2,25,small sport utility vehicle,27,4,1.5,awd,gas,30,chevrolet,equinox awd,a,2020
3,22,small sport utility vehicle,24,4,2.0,awd,gas,28,chevrolet,equinox awd,a,2020

In [ ]:
equinox_df.to_csv("e.csv")