In [2]:
import requests
import json 
import pandas as pd 

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2010'
response_2010 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2010 = json.loads(response_2010.text)
explorer_df_2010 = pd.json_normalize(explorer_2010)
explorer_df_2010

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2011'
response_2011 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

explorer_2011 = json.loads(response_2011.text)
explorer_df_2011 = pd.json_normalize(explorer_2011)
explorer_df_2011

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2012'
response_2012 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2012 = json.loads(response_2012.text)
explorer_df_2012 = pd.json_normalize(explorer_2012)
explorer_df_2012

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2013'
response_2013 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2013 = json.loads(response_2013.text)
explorer_df_2013 = pd.json_normalize(explorer_2013)
explorer_df_2013

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2014'
response_2014 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2014 = json.loads(response_2014.text)
explorer_df_2014 = pd.json_normalize(explorer_2014)
explorer_df_2014


api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2015'
response_2015 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

explorer_2015 = json.loads(response_2015.text)
explorer_df_2015 = pd.json_normalize(explorer_2015)
explorer_df_2015


api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2016'
response_2016 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

explorer_2016 = json.loads(response_2016.text)
explorer_df_2016 = pd.json_normalize(explorer_2016)
explorer_df_2016

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2017'
response_2017 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

explorer_2017 = json.loads(response_2017.text)
explorer_df_2017 = pd.json_normalize(explorer_2017)
explorer_df_2017

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2018'
response_2018 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2018 = json.loads(response_2018.text)
explorer_df_2018 = pd.json_normalize(explorer_2018)
explorer_df_2018

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2019'
response_2019 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

explorer_2019 = json.loads(response_2019.text)
explorer_df_2019 = pd.json_normalize(explorer_2019)
explorer_df_2019

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=explorer&year=2020'
response_2020 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


explorer_2020 = json.loads(response_2020.text)
explorer_df_2020 = pd.json_normalize(explorer_2020)
explorer_df_2020

explorer_df = pd.concat([explorer_df_2010,explorer_df_2011,explorer_df_2012,explorer_df_2013,explorer_df_2014,explorer_df_2015,explorer_df_2016,explorer_df_2017,explorer_df_2018,explorer_df_2019,explorer_df_2020])

explorer_df.shape[0]

explorer_df.to_csv("explorer.csv")

In [3]:
explorer_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,15,standard pickup truck,17,8,4.6,rwd,gas,21,ford,explorer sport trac 2wd,a,2010
1,14,standard pickup truck,16,6,4.0,rwd,gas,20,ford,explorer sport trac 2wd,a,2010
2,14,standard pickup truck,16,8,4.6,4wd,gas,19,ford,explorer sport trac 4wd,a,2010
3,13,standard pickup truck,15,6,4.0,4wd,gas,19,ford,explorer sport trac 4wd,a,2010
4,15,sport utility vehicle,17,8,4.6,rwd,gas,21,ford,explorer 2wd,a,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
1,20,standard sport utility vehicle,23,4,2.3,4wd,gas,27,ford,explorer awd,a,2020
2,18,standard sport utility vehicle,20,6,3.0,4wd,gas,24,ford,explorer awd,a,2020
3,16,standard sport utility vehicle,19,6,3.3,4wd,gas,23,ford,explorer ffv awd,a,2020
4,27,standard sport utility vehicle,28,6,3.3,rwd,gas,29,ford,explorer hev rwd,a,2020
5,23,standard sport utility vehicle,25,6,3.3,4wd,gas,26,ford,explorer hev awd,a,2020

In [11]:
prices = pd.read_csv("/Users/johnspurrier/Downloads/tc20171021.csv",on_bad_lines='skip')
prices['Make'] = prices['Make'].str.lower()
prices['Model'] = prices['Model'].str.lower()
prices

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,buick,encoreconvenience
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,buick,encorefwd
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,buick,encoreleather
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,buick,encorefwd
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,buick,encoreconvenience
...,...,...,...,...,...,...,...,...,...
1216245,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,volvo,xc90t8
1216246,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,volvo,xc90t8
1216247,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,volvo,xc90t6
1216248,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,xc90t6
1216249,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,volvo,v90

In [17]:
prices_explorer = prices.loc[(prices["Make"] == "ford") & (prices["Model"] == "explorer") | (prices["Model"] == "explorerrwd")
                             | (prices["Model"] == "explorer4wd")| (prices["Model"] == "explorerawd")| (prices["Model"] == "explorer2wd")
                            | (prices["Model"] == "explorerfwd")]
prices_explorer

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
1248,1249,6999,2010,105546,Peoria,AZ,1FMEU6DEXAUA55919,ford,explorerrwd
1274,1275,9500,2010,124970,Bloomington,IN,1FMEU7DE9AUB02640,ford,explorer4wd
1277,1278,21987,2016,37253,Mcgregor,TX,1FM5K7B85GGB53871,ford,explorerfwd
1302,1303,6989,2004,101877,Bradenton,FL,1FMZU67K34UB76038,ford,explorer
1322,1323,22466,2011,70149,Cumming,GA,1FMHK8F87BGA75115,ford,explorer4wd
...,...,...,...,...,...,...,...,...,...
705606,710973,43994,2017,20112,Chantilly,VA,1FM5K8HT7HGA84944,ford,explorer4wd
706468,711835,45995,2017,10628,Tallmadge,OH,1FM5K8HT5HGA85736,ford,explorer4wd
706534,711901,44900,2016,18570,Fuquay-Varina,NC,1FM5K8HT5GGC98152,ford,explorer4wd
706580,711947,9650,2005,157596,Cedar City,UT,1FMZU77K55UA77812,ford,explorer
707000,712367,38000,2017,30156,Long Beach,CA,1FM5K7F84HGA23768,ford,explorerfwd

In [18]:
prices_explorer.to_csv("explorer_prices.csv")