In [1]:
import requests
import json 
import pandas as pd

In [24]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2010&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2010_json = json.loads(response.text)
cherokee2010_df = pd.json_normalize(cherokee2010_json)

cherokee2010_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,16,sport utility vehicle,18,6,3.7,rwd,gas,21,jeep,grand cherokee 2wd,a,2010
1,14,sport utility vehicle,16,8,5.7,rwd,gas,20,jeep,grand cherokee 2wd,a,2010
2,15,sport utility vehicle,17,6,3.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2010
3,13,sport utility vehicle,15,8,5.7,4wd,gas,19,jeep,grand cherokee 4wd,a,2010
4,12,sport utility vehicle,13,8,6.1,4wd,gas,16,jeep,grand cherokee srt8 awd,a,2010

In [25]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2011&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2011_json = json.loads(response.text)
cherokee2011_df = pd.json_normalize(cherokee2011_json)

cherokee2011_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,14,sport utility vehicle,16,8,5.7,rwd,gas,20,jeep,grand cherokee 2wd,a,2011
1,16,sport utility vehicle,18,6,3.6,rwd,gas,22,jeep,grand cherokee 2wd,a,2011
2,14,sport utility vehicle,15,8,5.7,4wd,gas,19,jeep,grand cherokee 4wd,a,2011
3,16,sport utility vehicle,18,6,3.6,4wd,gas,22,jeep,grand cherokee 4wd,a,2011
4,16,sport utility vehicle,18,6,3.6,rwd,gas,22,jeep,grand cherokee 2wd,a,2011
5,16,sport utility vehicle,18,6,3.6,4wd,gas,22,jeep,grand cherokee 4wd,a,2011

In [26]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2012&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2012_json = json.loads(response.text)
cherokee2012_df = pd.json_normalize(cherokee2012_json)

cherokee2012_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,sport utility vehicle,19,6,3.6,rwd,gas,23,jeep,grand cherokee 2wd,a,2012
1,16,sport utility vehicle,19,6,3.6,awd,gas,23,jeep,grand cherokee 4wd,a,2012
2,13,sport utility vehicle,15,8,5.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2012
3,12,sport utility vehicle,14,8,6.4,4wd,gas,18,jeep,grand cherokee srt8 4wd,a,2012
4,14,sport utility vehicle,16,8,5.7,rwd,gas,20,jeep,grand cherokee 2wd,a,2012

In [27]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2013&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2013_json = json.loads(response.text)
cherokee2013_df = pd.json_normalize(cherokee2013_json)

cherokee2013_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,standard sport utility vehicle,19,6,3.6,rwd,gas,23,jeep,grand cherokee 2wd,a,2013
1,16,standard sport utility vehicle,19,6,3.6,4wd,gas,23,jeep,grand cherokee 4wd,a,2013
2,14,standard sport utility vehicle,16,8,5.7,rwd,gas,20,jeep,grand cherokee 2wd,a,2013
3,13,standard sport utility vehicle,15,8,5.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2013
4,12,standard sport utility vehicle,14,8,6.4,4wd,gas,18,jeep,grand cherokee srt8,a,2013

In [28]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2014&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2014_json = json.loads(response.text)
cherokee2014_df = pd.json_normalize(cherokee2014_json)

cherokee2014_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,13,standard sport utility vehicle,15,8,6.4,4wd,gas,19,jeep,grand cherokee srt8,a,2014
1,17,standard sport utility vehicle,20,6,3.6,rwd,gas,25,jeep,grand cherokee 2wd,a,2014
2,14,standard sport utility vehicle,17,8,5.7,rwd,gas,22,jeep,grand cherokee 2wd,a,2014
3,17,standard sport utility vehicle,19,6,3.6,4wd,gas,24,jeep,grand cherokee 4wd,a,2014
4,14,standard sport utility vehicle,16,8,5.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2014
5,22,standard sport utility vehicle,25,6,3.0,rwd,diesel,30,jeep,grand cherokee 2wd,a,2014
6,21,standard sport utility vehicle,24,6,3.0,4wd,diesel,28,jeep,grand cherokee 4wd,a,2014

In [29]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2015&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2015_json = json.loads(response.text)
cherokee2015_df = pd.json_normalize(cherokee2015_json)

cherokee2015_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,standard sport utility vehicle,20,6,3.6,rwd,gas,25,jeep,grand cherokee 2wd,a,2015
1,14,standard sport utility vehicle,17,8,5.7,rwd,gas,22,jeep,grand cherokee 2wd,a,2015
2,17,standard sport utility vehicle,19,6,3.6,4wd,gas,24,jeep,grand cherokee 4wd,a,2015
3,13,standard sport utility vehicle,15,8,6.4,4wd,gas,19,jeep,grand cherokee srt8 4wd,a,2015
4,14,standard sport utility vehicle,16,8,5.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2015
5,22,standard sport utility vehicle,25,6,3.0,rwd,diesel,30,jeep,grand cherokee 2wd,a,2015
6,21,standard sport utility vehicle,24,6,3.0,4wd,diesel,28,jeep,grand cherokee 4wd,a,2015

In [30]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2016&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2016_json = json.loads(response.text)
cherokee2016_df = pd.json_normalize(cherokee2016_json)

cherokee2016_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,standard sport utility vehicle,25,6,3.0,rwd,diesel,30,jeep,grand cherokee 2wd,a,2016
1,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2016
2,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt8 4wd,a,2016
3,21,standard sport utility vehicle,24,6,3.0,4wd,diesel,28,jeep,grand cherokee 4wd,a,2016
4,18,standard sport utility vehicle,21,6,3.6,4wd,gas,25,jeep,grand cherokee 4wd,a,2016
5,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2016

In [31]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2017&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2017_json = json.loads(response.text)
cherokee2017_df = pd.json_normalize(cherokee2017_json)

cherokee2017_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2017
1,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2017
2,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt 4wd,a,2017
3,18,standard sport utility vehicle,21,6,3.6,4wd,gas,25,jeep,grand cherokee 4wd,a,2017

In [32]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2018&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2018_json = json.loads(response.text)
cherokee2018_df = pd.json_normalize(cherokee2018_json)

cherokee2018_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2018
1,18,standard sport utility vehicle,21,6,3.6,awd,gas,25,jeep,grand cherokee 4wd,a,2018
2,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt 4wd,a,2018
3,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2018
4,11,standard sport utility vehicle,13,8,6.2,awd,gas,17,jeep,grand cherokee trackhawk 4wd,a,2018
5,22,standard sport utility vehicle,25,6,3.0,rwd,diesel,30,jeep,grand cherokee 2wd,a,2018
6,21,standard sport utility vehicle,24,6,3.0,awd,diesel,28,jeep,grand cherokee 4wd,a,2018

In [33]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2019&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2019_json = json.loads(response.text)
cherokee2019_df = pd.json_normalize(cherokee2019_json)

cherokee2019_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2019
1,18,standard sport utility vehicle,21,6,3.6,awd,gas,25,jeep,grand cherokee 4wd,a,2019
2,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2019
3,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt 4wd,a,2019
4,11,standard sport utility vehicle,13,8,6.2,awd,gas,17,jeep,grand cherokee trackhawk 4wd,a,2019
5,21,standard sport utility vehicle,24,6,3.0,awd,diesel,28,jeep,grand cherokee 4wd,a,2019

In [34]:
model = 'grand cherokee'
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2020&model={}'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'ZCdETropEXWOtXAjrg7ceQ==jfg7IuXZLUUuwjMi'})

cherokee2020_json = json.loads(response.text)
cherokee2020_df = pd.json_normalize(cherokee2020_json)

cherokee2020_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2020
1,18,standard sport utility vehicle,21,6,3.6,awd,gas,25,jeep,grand cherokee 4wd,a,2020
2,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2020
3,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt 4wd,a,2020
4,11,standard sport utility vehicle,13,8,6.2,awd,gas,17,jeep,grand cherokee trackhawk 4wd,a,2020

In [36]:
cherokee_df = pd.concat([cherokee2010_df, cherokee2011_df, cherokee2012_df, cherokee2013_df, 
                      cherokee2014_df, cherokee2015_df, cherokee2016_df, cherokee2017_df, cherokee2018_df, 
                        cherokee2019_df, cherokee2020_df])
cherokee_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,16,sport utility vehicle,18,6,3.7,rwd,gas,21,jeep,grand cherokee 2wd,a,2010
1,14,sport utility vehicle,16,8,5.7,rwd,gas,20,jeep,grand cherokee 2wd,a,2010
2,15,sport utility vehicle,17,6,3.7,4wd,gas,20,jeep,grand cherokee 4wd,a,2010
3,13,sport utility vehicle,15,8,5.7,4wd,gas,19,jeep,grand cherokee 4wd,a,2010
4,12,sport utility vehicle,13,8,6.1,4wd,gas,16,jeep,grand cherokee srt8 awd,a,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
0,19,standard sport utility vehicle,21,6,3.6,rwd,gas,26,jeep,grand cherokee 2wd,a,2020
1,18,standard sport utility vehicle,21,6,3.6,awd,gas,25,jeep,grand cherokee 4wd,a,2020
2,14,standard sport utility vehicle,17,8,5.7,awd,gas,22,jeep,grand cherokee 4wd,a,2020
3,13,standard sport utility vehicle,15,8,6.4,awd,gas,19,jeep,grand cherokee srt 4wd,a,2020
4,11,standard sport utility vehicle,13,8,6.2,awd,gas,17,jeep,grand cherokee trackhawk 4wd,a,2020

In [37]:
cherokee_df.to_csv("cherokee.csv")