In [1]:
import requests
import json 
import pandas as pd 

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2010'
response_2010 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2010 = json.loads(response_2010.text)
rogue_df_2010 = pd.json_normalize(rogue_2010)
rogue_df_2010

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2011'
response_2011 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

rogue_2011 = json.loads(response_2011.text)
rogue_df_2011 = pd.json_normalize(rogue_2011)
rogue_df_2011

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2012'
response_2012 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2012 = json.loads(response_2012.text)
rogue_df_2012 = pd.json_normalize(rogue_2012)
rogue_df_2012

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2013'
response_2013 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2013 = json.loads(response_2013.text)
rogue_df_2013 = pd.json_normalize(rogue_2013)
rogue_df_2013

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2014'
response_2014 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2014 = json.loads(response_2014.text)
rogue_df_2014 = pd.json_normalize(rogue_2014)
rogue_df_2014


api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2015'
response_2015 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

rogue_2015 = json.loads(response_2015.text)
rogue_df_2015 = pd.json_normalize(rogue_2015)
rogue_df_2015


api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2016'
response_2016 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

rogue_2016 = json.loads(response_2016.text)
rogue_df_2016 = pd.json_normalize(rogue_2016)
rogue_df_2016

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2017'
response_2017 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

rogue_2017 = json.loads(response_2017.text)
rogue_df_2017 = pd.json_normalize(rogue_2017)
rogue_df_2017

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2018'
response_2018 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2018 = json.loads(response_2018.text)
rogue_df_2018 = pd.json_normalize(rogue_2018)
rogue_df_2018

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2019'
response_2019 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})

rogue_2019 = json.loads(response_2019.text)
rogue_df_2019 = pd.json_normalize(rogue_2019)
rogue_df_2019

api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rogue&year=2020'
response_2020 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})


rogue_2020 = json.loads(response_2020.text)
rogue_df_2020 = pd.json_normalize(rogue_2020)
rogue_df_2020

rogue_df = pd.concat([rogue_df_2010,rogue_df_2011,rogue_df_2012,rogue_df_2013,rogue_df_2014,rogue_df_2015,rogue_df_2016,rogue_df_2017,rogue_df_2018,rogue_df_2019,rogue_df_2020])

rogue_df.shape[0]

rogue_df.to_csv("rogue.csv")

In [2]:
rogue_df

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,sport utility vehicle,24,4,2.5,fwd,gas,27,nissan,rogue fwd,a,2010
1,21,sport utility vehicle,23,4,2.5,awd,gas,26,nissan,rogue awd,a,2010
0,22,sport utility vehicle,24,4,2.5,fwd,gas,28,nissan,rogue fwd,a,2011
1,22,sport utility vehicle,24,4,2.5,awd,gas,26,nissan,rogue awd,a,2011
0,23,sport utility vehicle,25,4,2.5,fwd,gas,28,nissan,rogue fwd,a,2012
1,22,sport utility vehicle,23,4,2.5,awd,gas,26,nissan,rogue awd,a,2012
0,23,small sport utility vehicle,25,4,2.5,fwd,gas,28,nissan,rogue fwd,a,2013
1,22,small sport utility vehicle,24,4,2.5,awd,gas,26,nissan,rogue awd,a,2013
0,25,small sport utility vehicle,28,4,2.5,fwd,gas,32,nissan,rogue fwd,a,2014
1,25,small sport utility vehicle,27,4,2.5,awd,gas,31,nissan,rogue awd,a,2014
2,23,small sport utility vehicle,25,4,2.5,fwd,gas,28,nissan,rogue select fwd,a,2014
3,22,small sport utility vehicle,24,4,2.5,awd,gas,27,nissan,rogue select awd,a,2014
0,26,small sport utility vehicle,28,4,2.5,fwd,gas,32,nissan,rogue fwd,a,2015
1,25,small sport utility vehicle,27,4,2.5,awd,gas,31,nissan,rogue awd,a,2015
2,23,small sport utility vehicle,25,4,2.5,fwd,gas,28,nissan,rogue select fwd,a,2015
3,22,small sport utility vehicle,24,4,2.5,awd,gas,26,nissan,rogue select awd,a,2015
0,26,small sport utility vehicle,28,4,2.5,fwd,gas,32,nissan,rogue fwd,a,2016
1,25,small sport utility vehicle,27,4,2.5,awd,gas,31,nissan,rogue awd,a,2016
0,26,small sport utility vehicle,29,4,2.5,fwd,gas,33,nissan,rogue fwd,a,2017
1,25,small sport utility vehicle,27,4,2.5,awd,gas,32,nissan,rogue awd,a,2017
2,33,small sport utility vehicle,34,4,2.0,fwd,gas,35,nissan,rogue hybrid fwd,a,2017
3,31,small sport utility vehicle,33,4,2.0,awd,gas,34,nissan,rogue hybrid awd,a,2017
4,25,small station wagon,28,4,2.0,fwd,gas,32,nissan,rogue sport fwd,a,2017
5,24,small station wagon,27,4,2.0,awd,gas,30,nissan,rogue sport awd,a,2017
0,26,small sport utility vehicle,29,4,2.5,fwd,gas,33,nissan,rogue fwd,a,2018
1,33,small sport utility vehicle,34,4,2.0,fwd,gas,35,nissan,rogue hybrid fwd,a,2018
2,25,small sport utility vehicle,27,4,2.5,awd,gas,32,nissan,rogue awd,a,2018
3,31,small sport utility vehicle,33,4,2.0,awd,gas,34,nissan,rogue hybrid awd,a,2018
4,25,small station wagon,28,4,2.0,fwd,gas,32,nissan,rogue sport fwd,a,2018
5,24,small station wagon,27,4,2.0,awd,gas,30,nissan,rogue sport awd,a,2018
0,26,small sport utility vehicle,29,4,2.5,fwd,gas,33,nissan,rogue fwd,a,2019
1,33,small sport utility vehicle,34,4,2.0,fwd,gas,35,nissan,rogue hybrid fwd,a,2019
2,25,small sport utility vehicle,27,4,2.5,awd,gas,32,nissan,rogue awd,a,2019
3,31,small sport utility vehicle,33,4,2.0,awd,gas,34,nissan,rogue hybrid awd,a,2019
4,25,small station wagon,28,4,2.0,fwd,gas,32,nissan,rogue sport,a,2019
5,24,small station wagon,27,4,2.0,awd,gas,30,nissan,rogue sport awd,a,2019
0,26,small sport utility vehicle,29,4,2.5,fwd,gas,33,nissan,rogue fwd,a,2020
1,25,small sport utility vehicle,27,4,2.5,awd,gas,32,nissan,rogue awd,a,2020
2,25,small station wagon,28,4,2.0,fwd,gas,32,nissan,rogue sport,a,2020
3,24,small station wagon,27,4,2.0,awd,gas,30,nissan,rogue sport awd,a,2020

In [3]:
prices = pd.read_csv("/Users/johnspurrier/Downloads/tc20171021.csv",on_bad_lines='skip')
prices['Make'] = prices['Make'].str.lower()
prices['Model'] = prices['Model'].str.lower()
prices

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,buick,encoreconvenience
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,buick,encorefwd
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,buick,encoreleather
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,buick,encorefwd
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,buick,encoreconvenience
...,...,...,...,...,...,...,...,...,...
1216245,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,volvo,xc90t8
1216246,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,volvo,xc90t8
1216247,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,volvo,xc90t6
1216248,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,xc90t6
1216249,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,volvo,v90

In [4]:
prices_rogue = prices.loc[(prices["Make"] == "nissan") & (prices["Model"] == "rogue") |(prices["Model"] == "rogueawd")
                        |(prices["Model"] == "roguefwd")| (prices["Model"] == "roguesport")|(prices["Model"] == "roguehybrid")]
prices_rogue

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
266362,266363,13000,2014,8846,Simi Valley,CA,JN8AS5MT3EW611696,nissan,rogue
266462,266463,12992,2015,30056,Union City,GA,JN8AS5MT5FW669195,nissan,rogue
266708,266709,15658,2015,6413,Daphne,AL,JN8AS5MT0FW157764,nissan,rogue
266713,266714,15000,2015,14165,Sarasota,FL,JN8AS5MT8FW653136,nissan,rogue
267044,267045,13250,2015,11819,Norcross,GA,JN8AS5MT4FW162580,nissan,rogue
...,...,...,...,...,...,...,...,...,...
1069678,1075046,11075,2011,97680,Canton,NY,JN8AS5MVXBW660343,nissan,rogueawd
1069757,1075125,16995,2011,35273,Weslaco,TX,JN8AS5MT2BW163088,nissan,roguefwd
1069795,1075163,14986,2012,72912,Staten Island,NY,JN8AS5MV9CW367986,nissan,rogueawd
1069839,1075207,8995,2008,117967,Florence,KY,JN8AS58T78W026361,nissan,roguefwd
1069894,1075262,9988,2009,113808,Middlebury,CT,JN8AS58V69W430710,nissan,rogueawd

In [5]:
prices_rogue.to_csv("rogue_prices.csv")